<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="js/admin.js" defer></script> -->
    <title>The Blog - 404</title>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="siteId"><h1>404 Not Found</h1></div>
            <div class="nav">
                <ul class="navigators">
                    <li id="about"><a href="/about">About</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="admin">
                <h2>Admin</h2>
                <strong style="background-color: rgb(252, 63, 63)">Try Again!</strong>
                <form action="http://localhost:3000/admin" method="POST">
                    <label for="username">username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                    <label for="password">password:</label><br>
                    <input type="password" id="password" name="password" required>
                    <input type="submit" value="Login">
                </form>
                <a href="/admin/register">Register</a>
            </div>
            <div class="main_body" style="padding-left: 7%;">
                <h1 style="color: black;">User Not Found</h1>
                <h1 style="color: black;">User Not Found</h1>
                <h1 style="color: black;">User Not Found</h1>
            </div>
            <div class="home_image">
                <img src="img/404.webp" alt="404" style="height: 500px; width: 600px;">
            </div>
        </main>
    </div>
</body>
</html>
