<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            margin: 10%;
        }
    </style>
</head>
<body>
    <h1>This is an About Page</h1>
    <p>My name is SeongHo Park. I'm a freshman physics major at Taylor University.
        Back-end development is one of the skills I would like to aquire.
        <br />This project is about building a simple Rest API.
    </p>
</body>
</html>