<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>The Curiosity</title>
    <script src="script.js" defer></script>
</head>
<body>
    <div style="color:black">don't spend too much time on css..</div>
    <div id="wrap">
        <header>
            <div id="siteId"><h1><a href="main.html">The Curiosity</a></h1></div>
            <div class="nav">
                <ul class="navigators">
                    <li id="about"><a href="about.html">About</a></li>
                    <li id="blog" hidden><a href="blog.html">Blog</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div id="loginDiv">
				<input type="text" id="username" value="" name="username" placeholder="username" required>
				<input type="password" id="password" value="" name="password" placeholder="password" required>

				<div id="buttons">
					<input type="button" id="loginButton" value="Login">
					<input type="button" id="logoutButton" value="Logout">
					<input type="button" id="createUserButton" value="Create User">
					<input type="button" id="changePasswordButton" value="Change Password" hidden>
				</div>
			</div>
            <div class="main_body" hidden>
                <div id="intro">Hi! My name is SeongHo. I'm building my own blog where I can post whatever I want up here. I'm busy so please get out of my way.</div>
                <div class="goal">
                    <h3>To dos</h3>
                    <ul class="goals">
                        <li>Write all htmls</li>
                        <li><strong>Write Javascript</strong></li>
                        <li>Backend in PHP</li>
                        <li>Database in SQLite</li>
                    </ul>
                </div>
            </div>

        </main>
        <footer>footer</footer>
    </div>
</body>
</html>
