<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
        }
        #articles {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
        #content {
            height: 500px;
        }
        #title {
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="articles">
        <label for="title">Title</label>
        <input type="text" id="title" value="" name="title" placeholder="title" required><br />
        <label for="content">Content</label>
		<input type="text" id="content" value="" name="content" placeholder="content" required>
        <input type="button" id="createArticle" value="Submit">  
        <ul id="list"></ul>
    </div>
    <script>
        createArticle.addEventListener("click", function(){
            let params = "title="+title.value+"&content="+content.value;
            let ajax = new XMLHttpRequest();
            ajax.responseType = "json";
            ajax.open("POST", "http://localhost:3000/articles/newArticle");
            ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            ajax.send(params);
        })
    </script>
</body>
</html>